html {
  height: 100%;
}

h1 {
  color: red;
}

.suggestions-item {
  color: red;
}

.suggestions-item.no-suggestions {
  display: none;
}

.verify {
  display: none;
}

.verify.different {
  display: block;
  color: red;
}
