//- head.pug
head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='TIW4 Authentication base app')
    meta(name='author', content='Romuald THION')
    title  #{title}
    include header_bootstrap.pug
