extends layout

block content
 
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= title
        p Welcome to #{title}
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign In

        form(method='POST' action='/login')
          div.form-group
            label(for='login') Login:
            input#login.form-control(type='text', placeholder='login' name='login' required)
          div.form-group
            label(for='pwd') Password:
            input#pwd.form-control(type='password' name='password' required)
          button.btn.btn-primary(type='submit') Sign In

        p Not registered yet? <a href="/signup">Sign up</a> now !
