extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= title
        p Welcome to #{title}

    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form, courtesy of https://teamtreehouse.com/library/creating-a-registration-form-with-pug-jade-2
        form(method='POST' action='/signup')
          div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='your_login' name='username' required)
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email' required)
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password' required)
            span#score
            ul.suggestions-list
              li.suggestions-item.no-suggestions
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword' required)
            span.verify Passwords are different !
          button.btn.btn-primary(type='submit') Sign up
